#app {
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: Roboto;

    .layout {
        max-width: 976px;
        padding: 50px 10px;
        @media screen and (min-width: 960px){
            padding: 50px 40px;
        }

        .divider {
            margin: 30px 0;
        }

        .title-container {
            padding: 0;
            .home-title {
              font-weight: 700;
              color: #33C3F0;
              font-size: 48px;
              padding: 0;
            }
          
            .home-desc {
              color: #484848;
              font-weight: 200;
              font-size: 48px;
              padding: 15px 0 0 0;
            }
          }
    
        .list-item {
            padding: 10px 0;
    
            .sender-text {
                display: inline;
            }
        }
    }

    .post-item-container {
        display: flex;
        flex: 1;
        position: fixed;
        bottom: 0;
        max-width: 976px;
        margin: 0 auto;
        padding: 8px 4px;
        justify-content: center;
    }
}